.cabecera {
    text-align: center;
}

#fecha {
    text-align: center;
}

body {
font: 78% Sans-Serif;
background:#4786a7;
}

#keyboard {
    list-style: none;
}

.capslock, .tab, .left-shift {
    clear: left;
}

#keyboard .tab, #keyboard .delete {
    width: 117px;
}

#keyboard .left-shift, #keyboard .right-shift{
    width: 125px;
}

#keyboard .space {
    /* clear: left; */
    width: 585px;
}

#keyboard .capslock {
    width: 80px;
}

#keyboard .return {
    width: 77px;
}

#contenedor {
    margin: 20px auto ;
    width: 700px;
}

#keyboard li {
float: left;
margin: 0 5px 5px 0;
width: 40px;
height: 40px;
line-height: 40px;
text-align: center;
background: #f9f9f9;
border: 1px solid #f9f9f9;
-webkit-border-radius: 5px;
}

#keyboard li:hover {
position: relative;
top: 1px;
left: 1px;
border-color: #f9f9f9;
cursor: pointer;
}
